<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Holywell</title>
    <!-- Stylesheets -->
    <link rel='stylesheet' href='/stylesheets/bootstrap.min.css' />
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <div class="container">
        <nav class="navbar col-sm-10 col-sm-offset-1">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand" href="#">Holywell</a>
                </div>
                <ul class="nav navbar-nav navbar-right">
                    <li id="todayLi"><a href="#">Today</a></li>
                    <li id="thisWeekLi"><a href="#">This Week</a></li>
                    <li id="overallLi"><a href="#">Overall</a></li>
                </ul>
            </div>
        </nav>
        <div class="row">
            <div class="col-sm-10 col-sm-offset-1">
                <div class="wrapper">
                    <canvas id="myChart"></canvas>
                </div>
            </div>
        </div>
    </div>
    <!-- Javascripts -->
    <script src="/javascripts/jquery.min.js"></script>
    <script src="/javascripts/Chart.js"></script>
    <script src="/javascripts/bootstrap.min.js"></script>
    <script src="/javascripts/chartData.js"></script>
  </body>
</html>