<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Quietgym</title>
    <!-- Stylesheets -->
    <link rel='stylesheet' href='/stylesheets/bootstrap.min.css' />
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <div class="container">
      <div class="row">
        <div class="col-sm-8 col-sm-offset-2 text-center">
          <button class="btn" id="todayBtn">Today</button>
          <button class="btn" id="weekBtn">This week</button>
          <button class="btn" id="overallBtn">Overall</button>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-8 col-sm-offset-2">
          <canvas id="myChart"></canvas>
        </div>
      </div>
    </div>
    <!-- Javascripts -->
    <script src="/javascripts/jquery.min.js"></script>
    <script src="/javascripts/Chart.js"></script>
    <script src="/javascripts/bootstrap.min.js"></script>
    <script src="/javascripts/chartData.js"></script>
  </body>
</html>